<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1> Scenario 1</h1>
<app-scenario1></app-scenario1>
<hr>
<h1> Scenario 2</h1>
<app-scenario2></app-scenario2>
<hr>
<h1> Scenario 3</h1>
<app-scenario3></app-scenario3>
<hr>
<h1> Scenario 4</h1>
<app-scenario4></app-scenario4>
<hr>
<h1> Scenario 5</h1>
<app-scenario5></app-scenario5>
<hr>
<h1> Scenario 6</h1>
<app-scenario6></app-scenario6>
<hr>

<router-outlet></router-outlet>